<div class="px-16 py-32 w-full h-full vertical-scroll">
  <div class="flex items-center">
    <p
      class="uppercase letter-spacing-8 text-2xl font-mono font-semibold text-gray-900 w-1/2 me-4"
    >
      Projects Portfolio
    </p>
    <hr class="h-1 bg-gray-600 w-full" />
  </div>
  <div class="grid grid-cols-2 gap-16 mt-24">
    <div
      class="border shadow-sm h-96 overflow-y-hidden relative main-div wordle"
    >
      <div class="absolute -bottom-28 w-full text-animation">
        <div
          class="flex flex-col w-3/4 mx-auto border bg-white rounded py-5 px-4"
        >
          <p class="text-slate-900 text-xl font-semibold">Wordle Clone</p>
          <p class="text-slate-400 text-lg font-light">Upwork</p>
        </div>
      </div>
    </div>
    <div
      class="border bg-white shadow-sm h-96 overflow-y-hidden relative main-div snake"
    >
      <div class="absolute -bottom-28 w-full text-animation">
        <div
          class="flex flex-col w-3/4 mx-auto border rounded bg-white py-5 px-4"
        >
          <p class="text-slate-900 text-xl font-semibold">
            Javascript Snake Game
          </p>
          <p class="text-slate-400 text-lg font-light">Upwork</p>
        </div>
      </div>
    </div>
    <div
      class="border shadow-sm h-96 overflow-y-hidden relative main-div landing-page"
    >
      <div class="absolute -bottom-28 w-full text-animation">
        <div
          class="flex flex-col w-3/4 mx-auto border bg-white rounded py-5 px-4"
        >
          <p class="text-slate-900 text-xl font-semibold">Landing Page</p>
          <p class="text-slate-400 text-lg font-light">Fiverr</p>
        </div>
      </div>
    </div>
    <div
      class="border bg-white shadow-sm h-96 overflow-y-hidden relative main-div crm"
    >
      <div class="absolute -bottom-28 w-full text-animation">
        <div
          class="flex flex-col w-3/4 mx-auto border rounded bg-white py-5 px-4"
        >
          <p class="text-slate-900 text-xl font-semibold">
            Alfa Tech CRM
          </p>
          <p class="text-slate-400 text-lg font-light">Upwork</p>
        </div>
      </div>
    </div>
  </div>
</div>
