<div class="px-12 py-28 w-full h-full vertical-scroll">
  <div class="flex items-center">
    <p
      class="uppercase letter-spacing-8 text-lg font-mono font-semibold text-gray-900 w-1/2"
    >
      Projects Portfolio
    </p>
    <hr class="h-1 bg-gray-600 w-full" />
  </div>
  <div class="grid grid-cols-2 gap-12 mt-14">
    <div
      class="border shadow-sm h-80 overflow-y-hidden relative main-div wordle"
    >
      <div class="absolute -bottom-28 w-full text-animation">
        <div
          class="flex flex-col w-3/4 mx-auto border bg-white rounded py-3 px-2"
        >
          <p class="text-slate-900 font-semibold">Wordle Clone</p>
          <p class="text-slate-400 text-sm font-light">Upwork</p>
        </div>
      </div>
    </div>
    <div
      class="border shadow-sm h-80 overflow-y-hidden relative main-div snake"
    >
      <div class="absolute -bottom-28 w-full text-animation">
        <div
          class="flex flex-col w-3/4 mx-auto border rounded bg-white py-3 px-2"
        >
          <p class="text-slate-900 font-semibold">Javascript Snake Game</p>
          <p class="text-slate-400 text-sm font-light">Upwork</p>
        </div>
      </div>
    </div>
    <div
      class="border shadow-sm h-80 overflow-y-hidden relative main-div landing-page"
    >
      <div class="absolute -bottom-28 w-full text-animation">
        <div
          class="flex flex-col w-3/4 mx-auto border bg-white rounded py-3 px-2"
        >
          <p class="text-slate-900 font-semibold">Landing Page</p>
          <p class="text-slate-400 text-sm font-light">Fiverr</p>
        </div>
      </div>
    </div>
    <div
      class="border bg-white shadow-sm h-80 overflow-y-hidden relative main-div crm"
    >
      <div class="absolute -bottom-28 w-full text-animation">
        <div
          class="flex flex-col w-3/4 mx-auto border rounded bg-white py-3 px-2"
        >
          <p class="text-slate-900 font-semibold">Alfa Tech CRM</p>
          <p class="text-slate-400 text-sm font-light">Upwork</p>
        </div>
      </div>
    </div>
  </div>
</div>
