.vertical-scroll {
  overflow-y: scroll;
}

.main-div:hover {
  .text-animation {
    animation: text-hover-up 0.3s ease-in forwards;
  }
}

.wordle {
  background: url("../../../assets/wordle.png");
  filter: grayscale(100%);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  background-color: black;
}

.snake {
  background: url("../../../assets/snake.png");
  filter: grayscale(100%);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  background-color: black;
}

.landing-page {
  background: url("../../../assets/landing-page.png");
  filter: grayscale(100%);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  background-color: black;
}

.crm {
  background: url("../../../assets/alfa-tech.png");
  filter: grayscale(100%);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  background-color: black;
}

@keyframes text-hover-up {
  to {
    bottom: 20px;
  }
}
