<div class="px-12 py-28 w-full h-full vertical-scroll">
  <div class="flex items-center">
    <p
      class="uppercase letter-spacing-8 text-lg font-mono font-semibold text-gray-900 me-4"
    >
      Services
    </p>
    <hr class="h-1 bg-gray-600 w-full" />
  </div>
  <div class="grid grid-cols-2 gap-12 mt-14">
    <div
      class="flex py-14 px-6 text-center flex-col border items-center rounded-sm shadow-md bg-white card"
    >
      <fa-icon [icon]="faCubes" size="3x"></fa-icon>
      <p class="text-xl font-semibold text-slate-900 mt-8 title-class">
        Full Stack Development
      </p>
      <p class="text-sm font-light text-slate-500 mt-3 title-class">
        Complete Full Stack Development using MEAN and MERN Stacks. Specialized
        in React, Angular, Node, SQL, NoSQL among other technologies.
      </p>
    </div>
    <div
      class="flex py-14 px-6 text-center flex-col border items-center rounded-sm shadow-md bg-white card"
    >
      <fa-icon [icon]="faFile" size="3x"></fa-icon>
      <p class="text-xl font-semibold text-slate-900 mt-8 title-class">
        Front-End Development
      </p>
      <p class="text-sm font-light text-slate-500 mt-3 title-class">
        Create beautiful websites using HTML/CSS and Javascript. Proficient in
        3rd Party Libraries like Tailwind, Bootstrap and Angular Material.
      </p>
    </div>
    <div
      class="flex py-14 px-6 text-center flex-col border items-center rounded-sm shadow-md bg-white card"
    >
      <fa-icon [icon]="faCode" size="3x"></fa-icon>
      <p class="text-xl font-semibold text-slate-900 mt-8 title-class">
        Back-End Development
      </p>
      <p class="text-sm font-light text-slate-500 mt-3 title-class">
        Create servers using Node.js and express as the framework. Connection to
        Database and CRUD operations using REST APIs.
      </p>
    </div>
    <div
      class="flex py-14 px-6 text-center flex-col border items-center rounded-sm shadow-md bg-white card"
    >
      <fa-icon [icon]="faLaptop" size="4x"></fa-icon>
      <p class="text-xl font-semibold text-slate-900 mt-8 title-class">
        Web Design
      </p>
      <p class="text-sm font-light text-slate-500 mt-3 title-class">
        Design Websites in a beautiful and creative way with seamless
        animations, contrasting images, picture perfect layout and visually
        appealing colors.
      </p>
    </div>
  </div>
</div>
