.scroller {
  height: 1.2em;
  line-height: 1.2em;
  position: relative;
  overflow: hidden;
  width: 10em;
}
.scroller > span {
  position: absolute;
  top: 0;
  animation: slide 4s infinite;
  font-weight: bold;
}
@keyframes slide {
  0% {
    top: 0;
  }
  33% {
    top: -1.2em;
  }
  66% {
    top: -2.4em;
  }
}
